#Hwrap{
	position: absolute;
	top: 0;
	bottom: 0;
	overflow: hidden;
	background: #d4d4d4;
	width: 100%;
}
#Hscroll{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: #d4d4d4;
	min-height: 100%;
}
.Hs-header,.Hs-footer{
	height: 50px;
	position: absolute;
	left: 0;
	width: 100%;
	text-align: center;
	line-height: 50px;
	font-weight: bold;
	color: #999;
}
.Hs-header{
	top: -50px;
}
.Hs-footer{
	bottom: -50px;
}
.Hs-header em,.Hs-footer em{
	display: inline-block;
}
.pullDownIcon,.pullUpIcon{
	display: inline-block;
	width: 50px;
	height: 50px;
	background: url(../img/pull-icon@2x.png) 0 0 no-repeat;
	-webkit-background-size: 50px 100px;
	background-size: 50px 100px;
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 250ms;
	vertical-align: top;
}
.pullDownIcon {
	-webkit-transform:rotate(0deg) translateZ(0);
}
.pullDownIcon.flip  {
	-webkit-transform:rotate(-180deg) translateZ(0);
}

.pullUpIcon  {
	-webkit-transform:rotate(-180deg) translateZ(0);
}
.pullUpIcon.flip {
	-webkit-transform:rotate(0deg) translateZ(0);
}
.pullDownIcon.loading, .pullUpIcon.loading {
	background-position:0 100%;
	-webkit-transform:rotate(0deg) translateZ(0);
	-webkit-transition-duration:0ms;

	-webkit-animation-name:loading;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
}

@-webkit-keyframes loading {
	from { -webkit-transform:rotate(0deg) translateZ(0); }
	to { -webkit-transform:rotate(360deg) translateZ(0); }
}
#H-wrap-box{
	padding: 20px 0;
	background: #e4e4e4;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 10000;
}
#H-box{
	background: #d4d4d4;
	position: relative;
	font-weight: bold;
	font-size: 20px;
	height: 200px;
	overflow: hidden;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	perspective: 500;
	-webkit-perspective: 500; /* Safari 和 Chrome */
}
#H-list{
	padding: 0;
	margin: 0;
	position: relative;
	z-index: 1;
}
#H-list li{
	margin: 0;
	padding: 0;
	list-style: none;
	height: 40px;
	text-align: center;
	line-height: 40px;		
	color: #000;
	backface-visibility:hidden;
	-webkit-backface-visibility:hidden;	/* Chrome 和 Safari */
	-moz-backface-visibility:hidden; 	/* Firefox */
	-ms-backface-visibility:hidden; 	/* Internet Explorer */

}
.H-box-mask{
	height: 80px;
	position: absolute;
	width: 100%;
	background: rgba(255,255,255,0.4);
	z-index: 2;
	
}
.H-top-mask{
	top: 0;
	left: 0;
	border-bottom: 1px solid #adadad;
}
.H-bottom-mask{
	left: 0;
	bottom: 0;
	border-top: 1px solid #adadad;
}
.H-center-mask{
	height: 38px;
	position: absolute;
	width: 100%;
	background: #e4e4e4;
	top: 81px;
	z-index: 0;
}
.H-head{
	position: absolute;
	top: -40px;
	height: 40px;
	width: 100%;
	background: #f7f7f7;
	border-top: 1px solid #c5c5c5;
}
.H-head a{
	position: absolute;
	right: 15px;
	height: 30px;
	top: 5px;
	padding: 0 10px;
	line-height: 30px;
	color: #003ac3;
	text-decoration: none;
	text-align: center;
	border-radius: 8px;
	background: #d3d3d3;
	font-weight: bold;
}