/* hcy  */
@charset "utf-8";
/* reset */

body,h1,h2,h3,h4,h5,h6,p,dl,dd,ul,ol,pre,form,input,textarea,th,td,select{margin:0; padding:0;}
em{font-style:normal}
li{list-style:none}
a{text-decoration:none;}
img{border:none; vertical-align:top;}
table{border-collapse:collapse;}
input,textarea{outline:none;}
textarea{ resize:none; overflow:auto;}
body{font-size:12px; font-family:Microsoft YaHei,SimHei,Arial,Pro LiHei Pro Medium; }
/* end reset */
/* public */
.clear { zoom:1; }
.clear:after { content:''; display:block; clear:both; }