body {
	/*background: #ef698a;*/
	background: url(../images/auth-background.jpg) no-repeat;
	background-attachment:fixed;
	background-position:center;
}

.fp_box {
	width: 430px;
	height: 450px;
	overflow: hidden;
	margin: 10em 20em auto auto;
	padding-left: 2em;
}

.fp_box .fp_back {
	color: #ef698a;
	float: right;
	margin-right: 10px;
	font-size: 14px;
	margin-top: 30px;
}

.fp_box h1 {
	width: 100%;
	color: #ef698a;
	text-align: center;
	font-weight: 100;
}

.fp_box .fp_passWord {
	width: 410px;
	height: 280px;
	border-radius: 3px;
	float: left;
	background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.9);
	margin-top: 15px;
	overflow: hidden;
	box-shadow: 0 0px 20px #ddd;
	-moz-box-shadow: 0 0px 20px #ddd;
	-webkit-box-shadow: 0 0px 20px #ddd;
}

.fp_box .fp_tab {
	width: 113px;
	height: 26px;
	color: #fff;
	float: left;
	color: #777978;
	text-align: center;
	font-size: 16px;
}

.fp_box .fp_tab1 {
	margin: 20px 0 0 0;
}

.fp_box .fp_tab2 {
	margin-top: 20px;
	margin-left: 15px;
	border-right: 1px solid #d8d8d8;
}

.fp_bottom {
	display: block;
	width: 113px;
	height: 3px;
	margin-left: 15px;
	margin-top: 46px;
	background: #ef698a;
	transition: .6s ease;
}

.fp_box .fp_p {
	float: left;
	height: 25px;
	line-height: 25px;
	margin-top: 10px;
	margin-left: 77px;
	color: #777978;
	font-size: 16px;
	width: 75px;
}

.fp_box .fp_p1 {
	float: left;
	height: 25px;
	line-height: 25px;
	margin-top: 10px;
	margin-left: 77px;
	color: #777978;
	font-size: 16px;
	text-indent: 15px;
}

.fp_box .fp_text {
	width: 150px;
	height: 25px;
	border: 1px solid #ef698a;
	border-radius: 3px;
	margin-top: 10px;
	margin-left: 10px;
	letter-spacing: 1px;
	text-indent: 4px;
}

.fp_box .fp_code {
	width: 60px;
	height: 25px;
	border: 1px solid #ef698a;
	border-radius: 3px;
	margin-top: 10px;
	margin-left: 10px;
	letter-spacing: 1px;
	text-indent: 4px;
}

.fp_box .rp_code {
	width: 150px;
	height: 25px;
	border: 1px solid #ef698a;
	border-radius: 3px;
	margin-top: 30px;
	margin-left: 10px;
	letter-spacing: 1px;
	text-indent: 4px;
}

.fp_box .fp_button {
	width: 80px;
	height: 25px;
	border: 1px solid #ef698a;
	border-radius: 3px;
	background: #ef698a;
	color: #fff;
	cursor: pointer;
	margin-left: 10px;
}

.fp_next {
	width: 200px;
	height: 30px;
	border: 1px solid #ef698a;
	background: #fff;
	border-radius: 3px;
	text-align: center;
	color: #ef698a;
	margin: 15px 114px 0 114px;
	cursor: pointer;
}

.fp_phone {
	float: left;
	width: 410px;
	height: 361px;
	transition: .8s ease;
	opacity: 0;
}

/**
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @author    Ri Xu http://xuri.me
 * @copyright   Copyright (c) Harbin Wizard Techonlogy Co., Ltd.
 * @link    http://www.jinglingkj.com
 * @since     Dec 8th, 2014
 * @license     Licensed under The MIT License http://www.opensource.org/licenses/mit-license.php
 * @version   0.1
 */

.fp_reset {
	margin-top: 30px;
	float: left;
	width: 410px;
	height: 361px;
}

.fp_emile {
	float: left;
	width: 410px;
	transition: .8s ease;
	opacity: 1;
	margin-top: 30px;
}

.rgs_li span {
	float: left;
	width: 75px;
	height: 25px;
	line-height: 25px;
	margin-top: 10px;
	margin-left: 77px;
	color: #777978;
	font-size: 16px;
}

.rgs_li input {
	width: 150px;
	height: 25px;
	border: 1px solid #ef698a;
	border-radius: 3px;
	margin-top: 10px;
	margin-left: 10px;
	letter-spacing: 1px;
	text-indent: 4px;
}

div.footer {
	text-align: center;
	color: #FFF;
	width: 100%;
	height: 20px;
	padding: 15px 0;
	background: #6E6E86;
	position: fixed;
	bottom: 0px;
}

div.footer a {
	color: #FFF;
	font-size: 12px;
	margin: 0 auto;
}