body{background: #f4e9f9;}
#content{background: url(../images/preInfoEdit/contentbg.jpg) no-repeat; background-size: 100% 514px;
	margin:60px auto 0;
}
#content .con_title{height: 88px; line-height: 88px; text-align: center; font-size: 22px; color: #4c4d4d;}
#content .con_img{position: relative; text-align: center; margin-top: -10px;}
#content .con_img span{position: absolute; height: 1px; width: 44px; background: #000;left: 50%; top: 50%;}
#content .line1{margin-left: -80px;}
#content .line2{margin-left: 38px;}

#wrap{width: 1000px; background: #fbfbfb; margin: 50px auto 100px; padding: 20px;}
#wrap .w_left{width: 140px; float: left;}
#wrap .w_nav li a{display: block; background-color: #ef698a; color: #fff; height: 50px; font-size: 16px;
	line-height: 50px; padding-left: 55px; background-repeat:no-repeat;
	background-position: 10px 17px; background-size: 24px 26px;
}
#wrap .w_nav li a:hover,#wrap .w_nav li .active{background-color: #de3861;}
#wrap .w_nav .a1{background-image: url(../images/preInfoEdit/zl.png);}
#wrap .w_nav .a2{background-image: url(../images/preInfoEdit/xin.png);}
#wrap .w_nav .a3{background-image: url(../images/preInfoEdit/message.png);}
#wrap .w_nav .a4{background-image: url(../images/preInfoEdit/scale.png);}
#wrap .w_nav .a5{background-image: url(../images/preInfoEdit/about.png);}

#download{margin-top: 44px; font-size: 14px; color: #777978; text-align: center;}
#download img{margin-top: 26px; width: 107px; height: 107px;}

#wrap .w_right{float: left; width: 830px; margin-left: 20px;}
#wrap .img{float: left;}
#wrap .img img{ width: 152px; height: 150px; display: block;}
#wrap .sgnin{float: right; width: 665px;}
#wrap .sgnin_top{ height: 30px; border: 1px solid #e1e1e1; background: #f1f2f2; position: relative;}
#wrap .sgnin_top div{float: left; height: 30px; line-height: 30px; color:#626464; font-size: 16px;
	margin-left: 20px;
}
#wrap .sgnin_top div span{color: #297fb8;}
#wrap .sgnin_top div em{color: #ee7481; font-weight: bold;}
#wrap .sgnin_top div strong{color: #25d503; font-size: 12px;}
#wrap .sgnin_con{ border: 1px solid #e1e1e1; margin-top: 10px; height: 106px; background: #f1f2f2;}
#wrap .sgnin_con .comeon{width: 140px; height: 106px; position: relative; float: left}
/* 加油福利解释说明框 */
#instr{width: 400px; border: 2px solid #e2e3e3; border-radius:3px; position:absolute;
	left: 34px; top: -120px; background: #fff; z-index: 1; display: none; padding: 10px;
}
#instr div{font-size: 14px; color: #848282; }
#instr div span{color: #ef698a; font-weight: bold;}
#instr div em{color: #feb300; text-decoration: underline;}
#instr div strong{color: red;}

#wrap .sgnin_con .comeon_title{position: absolute; color: #ef698a; font-size: 16px; top: 4px; left: 5px;}
#wrap .sgnin_con a{position: absolute; width: 72px; height: 22px;background: #ef698a; color: #fff;
	 border-radius: 3px; text-align: center; line-height: 20px; font-size: 14px; left: 50%;
	 margin-left: -36px; top: 56px;
}
#wrap .sgnin_con a:hover{background: #f08ba4;}
#wrap .sgnin_con .pillars{float: right; width: 520px; height: 106px; position: relative;}

#pillars_fixed{position: absolute; height: 22px; background: #5b5b5b; top: 56px; width: 500px; left: -14px;
	border: 1px solid #d3d4d4;
}
#pillars_fixed .num{position: absolute; width: 20px; height: 20px; text-align: center; line-height: 20px;
	font-size: 16px; color: #939292; top:24px;
}
#pillars_fixed span:nth-of-type(1){left: -10px;}
#pillars_fixed span:nth-of-type(2){left: 240px;}
#pillars_fixed span:nth-of-type(3){left: 490px;}
#pillars_fixed .num1{left: -10px;}
#pillars_fixed .num2{left: 240px;}
#pillars_fixed .num3{left: 490px;}

#pillars_auto{position: absolute; height: 22px; background: #12d5ec; top: 0px; left:0px;}
#pillars_auto img{display: block; position: absolute; width: 10px; height: 10px; right: -5px; top: -15px;}
#pillars_auto div{position: absolute; color: #939292; width: 80px; height: 12px; text-align: center;
	right: -40px; top: -32px;
}
#pillars_auto div span{color: #ef698a;}

#data{margin-top: 20px; border: 1px solid #e7e7e7; position: relative;}
#data .editor{position: absolute; width: 90px; height: 20px; background: #de3861; color: #fff;
	text-align: center; line-height: 20px; border-radius: 3px; right: 20px; top: 65px;
}
#data .editor:hover{background: #e26383;}
#data .data_top{height: 40px;}
#data .data_top span{height: 40px; width: 18px; background: #ef698a; float: left;}
#data .data_top p{color: #ef698a; font-size: 18px; float: left; height: 40px; line-height: 40px;
	margin-left: 32px;
}
#data table{width: 90%;  margin: 20px 0 20px 50px; font-size: 14px; color: #848282; font-size: 14px;}
#data table .character span{width: 98px; height: 30px; display: inline-block; background: #e64150; position:relative;
	font-size: 16px; text-align: center; line-height: 30px; color: #fff; margin-left: 5px; margin-bottom: 5px
}
#data table tr{height: 50px; }
#data table tr td{ vertical-align: top;}
#data table tr .vertical_c{ padding-top: 10px;}
#data table tr .data_td1{width: 10%;}
#data table tr .constellation{position: relative;}
#data table tr .constellation_img{position: absolute; top: -10px;}
#data table .end_tr{border-bottom: 2px solid #f1808c;}
#data table .love_problem td{vertical-align: bottom; color: #ed5565;}
.footer{
	width:100%;
	height:20px;
	padding:15px 0;
	background:#ef698a;
	position:absolute;
}
.footer p{
	color:#fff;
	font-size:12px;
	display:block;
	margin:0 auto;
	text-align:center;
}